.body{
    display: flex;
    background-image: url(../images/garopaba.jpeg);
    background-attachment: fixed;
    width: 100%;
    height: auto;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

.bodyContainerMain{
   
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
   
   /* From https://css.glass */
background: rgba(255, 255, 255, 0.31);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(11px);
-webkit-backdrop-filter: blur(11px);
border: 1px solid rgba(255, 255, 255, 1);
    margin-top: 20px;
}