@font-face {
    font-family: 'Montserat';
    src: url('../fonts/Montserat/Montserrat-Regular.ttf');
}

* {
    margin: 0px;
    padding: 0px;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #292E3A;
    padding: 40px 0px 0px 0px;



}
.words{
    display: flex;
}
.logo-name {
    display: flex;
    width: 100%;
    padding-bottom: 20px;
    justify-content: space-evenly;


}
.material-symbols-outlined{
    color:#B59272 ;
    margin: 5px;
}

.h1-header {
    font-family: Montserat;
    font-size: 40px;
    color: white;
}
.h1HeaderCont{
    color: white;
    font-family: Montserat;
    margin: 5px;
    font-size: 15px;
}

.contatoIcons{
    display: flex;
    flex-direction: row;
}

.p-header {
    font-family: Montserat;
    font-size: 20px;
    font-style: italic;
    color: rgb(196, 185, 149);
}

.logo-width {
    width: 100px;
    height: auto;
}
a{
text-decoration: none;
font-weight: 500;
color:rgb(129, 110, 45) ;
}
.ul-container{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    font-size: 20px;
    font-family: Montserat ;
    color:rgb(196, 185, 149) ;
    background-color: white;
}